@using BlogWebApplication.Models

@model List<Blog>

@* [17/05/2024] - Updated - Edit link blog
   [19/05/2024] - Updated - Add button update data.
*@
@foreach (Blog itemBlog in Model)
{
	<div class="blog-card">
		<div class="blog-card-banner">
			@if (@itemBlog.Image == null)
			{
				<img src="/images/default_imageblog.jpg"
					 alt="Image-BlogTitle" width="250px"
					 class="blog-banner-img">
			}
			else
			{
				<img src="/images/@itemBlog.Image"
					 alt="Image-BlogTitle" width="250px"
					 class="blog-banner-img">
			}
		</div>

		<div class="blog-content-wrapper">
			<div class="blog-content-title">
				<button class="blog-topic text-tiny">
					@itemBlog.CategoryID
				</button>

				<a title="Chỉnh sửa" id="btnUpdate" class="icon-edit" onclick="updateBlog(@itemBlog.BlogID);">
					<ion-icon name="pencil-outline"></ion-icon>
				</a>
			</div>

			<h3>
				@Html.ActionLink(@itemBlog.BlogName, "ViewIndex", "BlogWebs", new { id = itemBlog.BlogID }, new { @class = "h3" })
			</h3>

			<p class="blog-text">
				<i>
					Link: <a href="@itemBlog.Link">@itemBlog.Link</a>
				</i>
			</p>

			<div class="wrapper-flex">
				<div class="profile-wrapper">
					<img src="~/Content/Images/author_default.jpg" alt="Author-Image" width="50">
				</div>

				<div class="wrapper">
					<a href="#" class="h4">@itemBlog.Author</a>
					<span class="text-sm">
						<time>@itemBlog.CreateDate.ToString("dd/MM/yyyy")</time>
					</span>
				</div>
			</div>
		</div>
	</div>
}