@using BlogWebApplication.Models

@model BlogWebApplication.Models.Blog

@{
	ViewData["Title"] = "Details";
}

@* [18/05/2024] - Create - Load view detail.
   [20/05/2024] - Updated - Use @Html.Raw display content.
*@
<div class="container">
	<div style="text-align:center">
		<h1>@Model.BlogName</h1>
		<div class="information d-flex justify-content-around mt-3">
			<h6>Tác giả: @Model.Author</h6>
			<h6>Ngày tạo: @Model.CreateDate.ToString("dd/MM/yyyy")</h6>
			<h6>Cập nhật: @Model.LastDateModified.ToString("dd/MM/yyyy")</h6>
		</div>
		<p>
			<div class="card mb-2">
				<div class="card-body">
					@Html.Raw(@Model.BlogDescription)
				</div>
			</div>
		</p>
	</div>
</div>
